#word-lookup {
    position: fixed;
    width: 250px;
    font-size: x-large;
    text-align: center;
}

#stats {
    font-size: medium;
}

#original {
    display: block;
    margin: 10px;
}

#definition {
    width: 230px;
    margin: 10px;
    text-align: center;
    font-size: x-large;
}

div {
    margin: 10px;
}

.selected {
    border: black solid 2px;
    padding: 5px;
}

.known {
    background-color: lightgreen;
}

.unknown {
    background-color: white;
}

.matching-item {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    min-width: 100px;
}

.correct-match {
    border: 2px dotted green;
}

.incorrect-match {
    border: 2px dotted red;
}

.drag-over {
    border: 2px dotted blue;
}

.learning {
    background-color: indianred;
}

#text {
    margin-left: 280px;
}

#text p {
    line-height: 30px;
}

button {
    display: block;
    width: 200px;
    margin-right: auto;
    margin-left: auto;
    margin-top: 5px;
}

label {
    font-size: medium;
}