/* Side bar */
.side-bar {
    position: fixed;
    width: 250px;
    padding: 10px;
}

.right {
    top: 0;
    left: 800px;
}

.sidebar-group {
    margin-top: 10px;
    margin-bottom: 10px;
}

.side-bar button {
    text-align: center;
    display: block;
    width: 250px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.side-bar input[type=checkbox] {
    transform: scale(1.5);
    margin: 10px;
}

#stats {
    font-size: medium;
    text-align: left;
}

#stats td {
    border: 1px solid black;
    padding: 5px;
}

#original {
    display: block;
    margin: 10px;
    font-size: x-large;
    text-align: center;
}

#definition {
    width: 242px;
    text-align: center;
    font-size: x-large;
}

audio {
    width: 250px;
}

label {
    font-size: medium;
}

/* Everything else */
.selected {
    border: black solid 2px;
    padding: 5px;
}

.known {
    background-color: lightgreen;
}

.unknown {
    background-color: white;
}

.matching-item {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    min-width: 100px;
}

span.matching-item {
    display: inline-block;
    padding: 0;
    margin: 2px;
    text-align: center;
}

.correct-match {
    border: 2px dotted green;
}

.incorrect-match {
    border: 2px dotted red;
}

.drag-over {
    border: 2px dotted blue;
}

.learning {
    background-color: indianred;
}

#text {
    margin-left: 280px;
    width: 500px;
    padding: 5px;
    border: 1px solid black;
}

#text p {
    line-height: 30px;
    white-space: pre-wrap;
}

